p {color: brown; text-align: center;}
h1 {color: aqua; text-align: center;}  
#t1 {color: blueviolet;}
body{background-color: rgb(56, 59, 59);}
.centradorojo {text-align: center;color: red;}
footer{text-align: justify;}